<button *ngIf="!isFormVisible" (click)="onAttractionClick()">AddAttraction</button>
<form  *ngIf="isFormVisible" #attractionForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
            name:
            <input name="name" placeholder="name" ngModel/>
        </label>
        <label>
            city:
            <input name="city" placeholder="city" ngModel/>
        </label>
        <label>
            pic_link:
            <input name="pic_link" placeholder="pic_link" ngModel/>
        </label>
        <input  type="hidden" name="_id" ngModel/>
        <button type="submit">Add</button>
    </div>
</form>
